{{define "title"}}Spiele{{end}} {{define "main"}}
<div class="container">
  <h2>Spiele</h2>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Uhrzeit</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Ergebnis</th>
        <th>Dein Tipp</th>
      </tr>
    </thead>
    <tbody>
      {{range .MatchTipps}}
      <tr>
        <td>{{germanWeekday .Start}}, {{germanDate .Start}}</td>
        <td>{{.Start.Format "15:04" }}</td>
        <td>{{.TeamA}}</td>
        <td>{{.TeamB}}</td>
        <td>{{matchResult .ResultA .ResultB}}</td>
        <td>
          {{ if .TippA }} {{.TippA}} : {{.TippB}}
          <a href="">ändern</a>
          {{else}}
          <form action="/tipp/create" method="post">
            <input type="hidden" name="match_id" value="{{.MatchId}}" />
            <input type="number" min="0" max="99" name="tipp_a" required /> :
            <input type="number" min="0" max="99" name="tipp_b" required />
            <input type="submit" value="Ok" />
          </form>
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

{{end}}
