{{define "title"}}Spiele{{end}} {{define "main"}}
<div class="container">
  <h2>Spiele</h2>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Uhrzeit</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Ergebnis</th>
        <th>Dein Tipp</th>
      </tr>
    </thead>
    <tbody>
      {{range .MatchTipps}}
      <tr>
        <td>{{.Start.Weekday}}, {{.Start.Format "02.01.2006"}}</td>
        <td>{{.Start.Format "15:04" }}</td>
        <td>{{.TeamA}}</td>
        <td>{{.TeamB}}</td>
        <td>-:-</td>
        <td>
          {{ if .TippA }} {{.TippA}} : {{.TippB}}
          <a href="">ändern</a>
          {{else}}
          <input type="text" size="2" /> :
          <input type="text" size="2" />
          <input type="button" value="Ok" />
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

{{end}}
