{{define "title"}}Home{{end}} {{define "main"}}
<div class="container">
  <h2>Spiele</h2>
  <p>There's nothing to see here yet!</p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Uhrzeit</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Ergebnis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>foo</td>
        <td>foo</td>
        <td>Unbekannt</td>
        <td>Unbekannt</td>
        <td>-:-</td>
      </tr>
    </tbody>
  </table>
</div>

{{end}}
