{{define "title"}}GoTipp{{end}}
{{define "assets"}}{{end}}
{{define "main"}}
<div class="container">
  <div class="hero">
    <div class="hero__row">
      <div class="hero__teaser">
        <h2 class="hero__headline">
          Unser kleines persönliches<br />
          <span class="hero__highlight">Tippspiel</span> für die WM 2026
        </h2>

        <p>
          Unser exklusives Tippspiel zur WM ist leider nur für
          geladene Gäste. Ich entschuldige mich bei allen Fußballfans, die
          zufällig hier gelandet sind.
        </p>
      </div>

      <div class="hero__image">
        <img
          src="/static/img/teaser-soccer-landscape-3.jpg"
          alt="Abstraktes Bild von Händen, die einen Fußball halten (KI generiert)"
        />
      </div>
    </div>

    <div class="penalty-scene">
      <div class="penalty-scene__goal">
        <img src="/static/img/goal.png" alt="Fußballtor" />
      </div>
      <div class="penalty-scene__keeper">
        <img src="/static/img/keeper.png" alt="Torwart" />
      </div>
      <div class="penalty-scene__ball">
        <img src="/static/img/ball.png" alt="Fußball" />
      </div>
    </div>

    <p class="hero__cta">
      <a href="/user/signup" class="pure-button pure-button-primary"
        >Registrieren (benötigt Invite)</a
      >

      <a href="/user/login" class="pure-button">Login</a>
    </p>
  </div>
</div>

{{end}}
