{{define "title"}}GoTipp{{end}} {{define "main"}}
<div class="container">
  <div class="hero">
    <div class="hero__row">
      <div class="hero__teaser">
        <h2 class="hero__headline">
          Unser kleines persönliches<br />
          <span class="hero__highlight">Tippspiel</span> für die EM 2024
        </h2>

        <p>
          Unser exklusives Tippspiel zur Europameisterschaft ist leider nur für
          geladene Gäste. Ich entschuldige mich bei allen Fußballfans, die
          zufällig hier gelandet sind. Wenn du allerdings dazu gehörst:
          Hereinspaziert!
        </p>
      </div>

      <div class="hero__image">
        <img
          src="/static/img/teaser-soccer-landscape-2.jpg"
          alt="Eine Gruppe von stereotypen Aktienhändlern, die sich über einen Fußball unterhalten (KI generiert)"
        />
      </div>
    </div>

    <p class="hero__cta">
      <a href="/user/signup" class="pure-button pure-button-primary"
        >Registrieren (benötigt Invite)</a
      >

      <a href="/user/login" class="pure-button">Login</a>
    </p>
  </div>
</div>

{{end}}
