{{define "title"}}Leaderboard{{end}} {{define "assets"}}
<script src="/static/lib/chart-4.4.3.js"></script>
<script src="/scores.json"></script>
<script src="/static/js/scoreboard.js"></script>
{{end}} {{define "main"}}

<div class="container">
  <h2>Leaderboard</h2>

  <p>
    Hier kannst du deinen aktuellen Platz in deiner Gruppe sehen, sowie deinen
    Platz im globalen Leaderboard mit allen Usern aus allen Gruppen gemeinsam.
  </p>

  {{ range .Leaderboards}}
  <h3>{{.Title}}</h3>
  <table class="cc-table">
    <thead>
      <tr>
        <td>Platz</td>
        <td>Name</td>
        <td>Tipps abgegeben</td>
        <td>Gesamtpunkte</td>
      </tr>
    </thead>
    {{$prev_place:=0}} {{range $i, $u := .Users}}
    <tr
      {{if
      eq
      $.AuthUserId
      $u.ID}}
      class="active"
      {{end}}
      {{if
      even
      $u.Place
      }}
      class="even"
      {{else}}
      class="odd"
      {{end}}
    >
      <td>
        {{if ne $u.Place $prev_place}} {{$u.Place}} {{$prev_place = $u.Place}}
        {{end}}
      </td>
      <td>
        <a href="/user/{{$u.Name}}">{{$u.Name}}</a>
      </td>
      <td>{{$u.Tipps}}</td>
      <td>{{$u.Points}}</td>
    </tr>
    {{end}}
  </table>

  {{end}}

  <h3>Global Leaderboard (Chart)</h3>
  <canvas id="scoreboard" width="400" height="200"></canvas>
</div>

{{end}}
