{{define "title"}}Leaderboard{{end}} {{define "assets"}}
<script src="/static/lib/chart-4.4.3.js"></script>
<script src="/static/js/scoreboard.js"></script>
{{end}} {{define "main"}}

<div class="container">
  <h2>Leaderboard</h2>

  <p>
    Hier kannst du deinen aktuellen Platz in deiner Gruppe sehen, sowie deinen
    Platz im globalen Leaderboard mit allen Usern aus allen Gruppen gemeinsam.
  </p>

  {{ range .Leaderboards}}
  <h3>{{.Title}}</h3>
  <table class="cc-table">
    <thead>
      <tr class="">
        <td class="w-1-12 text-right">Platz</td>
        <td class="w-7-12">Name</td>
        <td class="w-2-12">Tipps abgegeben</td>
        <td class="w-2-12">Gesamtpunkte</td>
      </tr>
    </thead>
    {{$prev_place:=0}} {{range $i, $u := .Users}}
    <tr
      {{if
      eq
      $.AuthUserId
      $u.ID}}
      class="active"
      {{end}}
      {{if
      even
      $u.Place
      }}
      class="even"
      {{else}}
      class="odd"
      {{end}}
    >
      <td class="text-right">
        {{if ne $u.Place $prev_place}} {{$u.Place}} {{$prev_place = $u.Place}}
        {{end}}
      </td>
      <td>
        <a href="/user/{{$u.Name}}">{{$u.Name}}</a>
      </td>
      <td>{{$u.Tipps}}</td>
      <td>{{$u.Points}}</td>
    </tr>
    {{end}}
  </table>

  {{ $lid := .ID }} {{ if eq $lid 0 }} {{ $lid = "1,2" }} {{ end }}
  <h3>{{.Title}} Leaderboard Verlauf</h3>
  <div>
    <div class="w-8-12-sm margin-lr-auto">
      <canvas data-chart="{{$lid}}" width="400" height="400"></canvas>
    </div>
  </div>

  {{end}}
</div>

{{end}}
