{{define "title"}}Spiele{{end}}{{define "assets"}}{{end}}{{define "main"}}
<div class="container">
  <nav class="tabs">
    <h2>Spiele</h2>
    <ul>
      {{range .EventPhases}}
      <li {{if eq .Number $.SelectedPhase.Number}} class="active" {{end}}>
        <a href="/spiele?phase={{.Number}}">
          {{if eq .Number $.SelectedPhase.Number}}
          <strong>{{.Title}}</strong>
          {{else}} {{.Title}} {{end}}
        </a>
      </li>
      {{end}}
    </ul>
  </nav>

  {{if not .MatchTipps}}
  <p>Es sind noch keine Spiele zum Tippen verfügbar.</p>
  {{else}}
  <form action="/tipp/update" method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div class="header-container">
      <input
        type="submit"
        value="Speichern"
        class="pure-button pure-button-primary header-container__right"
      />
    </div>

    <table class="cc-table cc-table-striped">
      <thead class="">
        <tr>
          <th></th>
          <th>Tag</th>
          <th>Uhrzeit</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Ergebnis</th>
          <th>Dein Tipp</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody class="">
        {{range .MatchTipps}}
        <tr class="">
          <td>
            <a
              href="/spiel/{{.MatchId}}"
              class="status-label status-{{.Status}}"
              >status</a
            >
          </td>
          <td>{{germanWeekday .Start}}, {{germanDate .Start}}</td>
          <td>{{.Start.Format "15:04" }}</td>
          <td>{{.TeamA}}</td>
          <td>{{.TeamB}}</td>
          <td>{{matchResult .ResultA .ResultB}}</td>
          <td>
            {{if .AcceptsTipps}}
            <input
              type="hidden"
              name="match_id_{{.MatchId}}"
              value="{{.MatchId}}"
            />
            <input
              type="number"
              min="0"
              max="99"
              name="tipp_a_{{.MatchId}}"
              value='{{defaultStr .TippA ""}}'
            />
            :
            <input
              type="number"
              min="0"
              max="99"
              name="tipp_b_{{.MatchId}}"
              value='{{defaultStr .TippB ""}}'
            />
            {{else}} {{defaultStr .TippA "-"}}:{{defaultStr .TippB "-"}} {{end}}
          </td>
          <td>{{if eq .Status "done"}} {{.Points}} {{end}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <div class="header-container">
      <input
        type="submit"
        value="Speichern"
        class="pure-button pure-button-primary header-container__right"
      />
    </div>
  </form>
</div>
{{end}} {{end}}
