{{define "title"}}Spiele{{end}}{{define "assets"}}{{end}}{{define "main"}}
<div class="container">
  <nav class="tabs hide-small hide-medium">
    <h2>Spiele</h2>
    <ul>
      {{range .EventPhases}}
      <li {{if eq .Number $.SelectedPhase.Number}} class="active" {{end}}>
        <a href="/spiele?phase={{.Number}}">
          {{if eq .Number $.SelectedPhase.Number}}
          <strong>{{.Title}}</strong>
          {{else}} {{.Title}} {{end}}
        </a>
      </li>
      {{end}}
    </ul>
  </nav>

  <div class="margin-top-l">
    <nav class="pagination hide-large">
      <ul>
        <li>
          {{ if .PrevLink }}
          <a href="{{.PrevLink}}">←</a>
          {{ else }}
          <span class="disabled"></span>
          {{ end }}
        </li>
        <li>
          <a href="/spiele?phase={{.SelectedPhase.Number}}">
            <strong>{{.SelectedPhase.Title}}</strong>
          </a>
        </li>
        <li>
          {{ if .NextLink }}
          <a href="{{.NextLink}}">→</a>
          {{ else }}
          <span class="disabled"></span>
          {{ end }}
        </li>
      </ul>
    </nav>
  </div>
 
  {{if not .MatchTipps}}
  <p>Es sind noch keine Spiele zum Tippen verfügbar.</p>
  {{else}}
  <form action="/tipp/update?phase={{.SelectedPhase.Number}}" method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div class="header-container">
      {{if isKOPhase .SelectedPhase}}
      <p class="header-notice">
        ℹ️
        KO-Phase: Du tippst du auf das <strong>Ergebnis
        nach regulärer Spielzeit</strong> (90 Minuten plus ggf. Nachspielzeit).
      </p>
      {{end}}
      <input
        type="submit"
        value="Speichern"
        class="pure-button pure-button-primary header-container__right"
      />
    </div>

    <table class="cc-table cc-table-striped">
      <thead class="">
        <tr>
          <th class="w-2-12"></th>
          <th class="w-4-12">Spiel</th>
          <th class="w-1-12">Ergebnis</th>
          <th class="w-3-12">Dein Tipp</th>
          <th class="w-1-12">Punkte</th>
        </tr>
      </thead>
      <tbody>
        {{range .MatchTipps}}
        <tr>
          <td class="text-center">
            <a
              href="/spiel/{{.MatchId}}"
              class="status-label status-{{.Status}}"
              >status</a
            >
          </td>
          <td>
            {{if eq .TeamA ""}}
            <span class="team-none">(Noch offen)</span>
            {{else}}
            {{.TeamA}}
            {{end}}
            -
            {{if eq .TeamB ""}}
            <span class="team-none">(Noch offen)</span>
            {{else}}
            {{.TeamB}}
            {{end}}
            <br /><span
              class="muted">
              {{germanWeekday .Start}}, {{germanDate .Start}} {{.Start.Format "15:04" }}</span>
            </span>
          </td>
          <td>{{matchResult .ResultA .ResultB}}</td>
          <td>
            {{if .AcceptsTipps}}
            <input
              type="hidden"
              name="match_id_{{.MatchId}}"
              value="{{.MatchId}}"
            />
            <input
              type="number"
              min="0"
              max="99"
              name="tipp_a_{{.MatchId}}"
              value='{{defaultIntStr .TippA ""}}'
            />
            :
            <input
              type="number"
              min="0"
              max="99"
              name="tipp_b_{{.MatchId}}"
              value='{{defaultIntStr .TippB ""}}'
            />
            {{else}} 
              {{ if eq "-" (defaultIntStr .TippA "-") }}
              <small>Kein Tipp möglich</small>
              {{ else }}
              {{defaultIntStr .TippA "-"}}:{{defaultIntStr .TippB "-"}} 
              {{ end }}
            {{end}}
          </td>
          <td>{{if eq .Status "done"}} {{.Points}} {{end}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <div class="header-container">
      <input
        type="submit"
        value="Speichern"
        class="pure-button pure-button-primary header-container__right"
      />
    </div>
  </form>
</div>
{{end}} {{end}}
