{{define "title"}}Regeln{{end}} {{define "assets"}}{{end}} {{define "main"}}
<div class="container">
  <h1>Regeln</h1>
  <p>Das Tippspiel ist einfach: Du tippst, wie ein Spiel ausgeht und bekommst Punkte dafür. Je besser du tippst, desto mehr Punkte.</p>
  <h2>Tippen</h2>
  <ul>
    <li>Für jedes Spiel gibst du einen Tipp ab (z.B. "2:1").</li>
    <li>Du kannst deinen Tipp bis zum Anpfiff des Spiels eintragen und ändern.</li>
    <li>Sobald das Spiel begonnen hat, kannst du auch die Tipps aller Mitspieler sehen.</li>
    <li>Wenn das Spiel vorbei ist, werden die Punkte vergeben.</li>
  </ul>
  </p>
  <h2>Punkteverteilung</h2>
  <p>
    Du bekommst Punkte für die richtige Tendenz ("wer hat gewonnen"), für die richtige Tordifferenz ("wie knapp wurde das Spiel gewonnen") und für das exakte Ergebnis. 
  </p>
  <p>
    Achtung: Wir tippen immer auf das Ende der regulären Spielzeit. Wenn ein Spiel in die Verlängerung oder ins Elfmeterschießen geht, zählt für unser Tippspiel das Ergebnis, wie es vor Beginn der Verlängerung steht.
  </p>
  <p>
    In der KO-Phase (= Achtelfinale bis Finale) gibt es doppelte Punkte.
  </p>
  <table class="cc-table">
    <thead>
      <tr>
        <th>Ergebnis</th>
        <th>Gruppenphase</th>
        <th>KO-Phase</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ergebnis exakt getippt</td>
        <td>3</td>
        <td>6</td>
        <td>
          <small>z.B. 2:1 getippt, Ergebnis 2:1</small>
        </td>
      </tr>
      <tr>
        <td>Tordifferenz richtig</td>
        <td>2</td>
        <td>4</td>
        <td>
          <small>z.B. 2:1 getippt, Ergebnis 3:2</small>
        </td>
      </tr>
      <tr>
        <td>Tendenz richtig</td>
        <td>1</td>
        <td>2</td>
        <td>
          <small>z.B. 2:1 getippt, Ergebnis 2:0</small>
        </td>
      </tr>
      <tr>
        <td>Falscher Tipp</td>
        <td>0</td>
        <td>0</td>
        <td>
          <small>z.B. 2:1 getippt, Ergebnis 0:0</small>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          Es zählt immer das <strong>Ergebnis nach regulärer Spielzeit</strong>
          (90 Minuten plus ggf. Nachspielzeit). Verlängerung und
          Elfmeterschießen zählen nicht.
        </td>
      </tr>
    </tfoot>
  </table>
</div>

{{end}}
