{{define "title"}}Signup{{end}} {{define "main"}}
<div class="container">
  <h2>Registrieren</h2>
  <form
    action="/user/signup"
    method="POST"
    novalidate
    class="pure-form pure-form-aligned"
  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <fieldset>
      <div class="pure-control-group">
        <label>Invite Code:</label>
        <input
          type="text"
          name="invite"
          value="{{.Form.Invite}}"
          {{if
          .Form.FieldErrors.invite}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.invite}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
        <p class="explanation">
          Registrierung ist nur mit einem gültigen Invite Code möglich.
        </p>
      </div>
      <div class="pure-control-group">
        <label>Email:</label>

        <input
          type="email"
          name="email"
          value="{{.Form.Email}}"
          {{if
          .Form.FieldErrors.email}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.email}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
        <p class="explanation">
          Mit dieser E-Mail-Adresse wirst du dich einloggen.
        </p>
      </div>
      <div class="pure-control-group">
        <label>Password:</label>

        <input
          type="password"
          name="password"
          {{if
          .Form.FieldErrors.password}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.password}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
        <p class="explanation">Mindestens 8 Zeichen lang.</p>
      </div>
      <div class="pure-control-group">
        <label>Username:</label>

        <input
          type="text"
          name="name"
          value="{{.Form.Name}}"
          {{if
          .Form.FieldErrors.name}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.name}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
        <p class="explanation">
          Mit diesem Namen wirst du im Spiel angezeigt. 3-20 Buchstaben und
          Zahlen, keine Leerzeichen.
        </p>
      </div>

      <div class="pure-controls">
        <input
          type="submit"
          value="Registrieren"
          class="pure-button pure-button-primary"
        />
      </div>
    </fieldset>
  </form>
</div>

{{end}}
