{{define "title"}}Signup{{end}} {{define "main"}}
<div class="container">
  <h2>Registrieren</h2>
  <form
    action="/user/signup"
    method="POST"
    novalidate
    class="pure-form pure-form-aligned"
  >
    <fieldset>
      <div class="pure-control-group">
        <label>Invite code:</label>
        <input
          type="text"
          name="invite"
          value="{{.Form.Invite}}"
          {{if
          .Form.FieldErrors.invite}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.invite}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
      </div>
      <div class="pure-control-group">
        <label>Name:</label>
        <input
          type="text"
          name="name"
          value="{{.Form.Name}}"
          {{if
          .Form.FieldErrors.name}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.name}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
      </div>
      <div class="pure-control-group">
        <label>Email:</label>

        <input
          type="email"
          name="email"
          value="{{.Form.Email}}"
          {{if
          .Form.FieldErrors.email}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.email}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
      </div>
      <div class="pure-control-group">
        <label>Password:</label>

        <input
          type="password"
          name="password"
          {{if
          .Form.FieldErrors.password}}
          class="error"
          {{end}}
        />
        {{with .Form.FieldErrors.password}}
        <label class="error pure-form-message-inline">{{.}}</label> {{end}}
      </div>
      <div class="pure-controls">
        <input
          type="submit"
          value="Signup"
          class="pure-button pure-button-primary"
        />
      </div>
    </fieldset>
  </form>
</div>

{{end}}
