{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - GoTipp</title>
    <link rel="stylesheet" href="/static/css/pure-min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="container">
      <h1 class="logo">
        <a {{if .IsAuthenticated}} href="/spiele" {{else}} href="/" {{end}}
          >⚽️ GoTipp</a
        >
      </h1>
    </header>
    {{template "nav" .}}
    <main>
      {{with .Flash}}
      <div class="container">
        <p class="cc-alert-flash">{{.}}</p>
      </div>
      {{end}} {{template "main" .}}
    </main>
    <div class="container footer l-box">
      <p>
        &copy; {{.CurrentYear}} GoTipp ist ein Projekt von
        <a href="https://casualcoding.com">casualcoding.com</a>
      </p>
    </div>
  </body>
</html>
{{end}}
