{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - GoTipp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/pure-min.css?v={{assetVersion}}" />
    <link rel="stylesheet" href="/static/css/style.css?v={{assetVersion}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&family=DM+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{template "nav" .}}
    <main class="content">
      {{with .Flash}}
      <div class="container">
        <p class="cc-alert-flash">{{.}}</p>
      </div>
      {{end}} {{template "main" .}}
    </main>
    <div class="container footer l-box">
      {{if .IsAuthenticated}}
      <p class="footer__user">Eingeloggt als {{.AuthUserName}}</p>
      {{end}}
      <p>
        &copy; {{.CurrentYear}} GoTipp ist eine Web-Anwendung für Tippspiele unter Freunden &amp; ein Projekt von
        <a href="https://casualcoding.com">casualcoding.com</a>
      </p>
    </div>

    {{template "assets" .}}
  </body>
</html>
{{end}}
