{{define "nav"}}
<div class="w-100">
  <nav class="container navbar">
    <div class="left">
      {{if .IsAuthenticated }}
      <a href="/spiele"><img src="/static/img/ball.png" alt="" class="nav-icon" /> Spiele</a>
      <a href="/leaderboard"><img src="/static/img/icon-trophy.svg" alt="" class="nav-icon" /> Leaderboard</a>
      <a href="/regeln"><img src="/static/img/icon-book-open-text.svg" alt="" class="nav-icon" /> Regeln</a>
      <a href="/langeweile"><img src="/static/img/icon-joystick-duotone.svg" alt="" class="nav-icon" /> Langeweile</a>
      {{else}}
      <a href="/"><img src="/static/img/ball.png" alt="" class="nav-icon" /> GoTipp</a>
      {{end}}
    </div>
    <div class="right">
      {{if .IsAuthenticated }}
      <a href="/user/settings"><img src="/static/img/icon-gear-duotone.svg" alt="" class="nav-icon" /> Einstellungen</a>
      {{if .IsAdmin}}
      <a href="/admin"><img src="/static/img/icon-wrench-duotone.svg" alt="" class="nav-icon" /> Admin</a>
      {{end}}
      <form action="/user/logout" method="post">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <button><img src="/static/img/icon-sign-out-duotone.svg" alt="" class="nav-icon" /> Logout</button>
      </form>
      {{else}}
      <a href="/user/signup"><img src="/static/img/icon-user-plus-duotone.svg" alt="" class="nav-icon" /> Registrieren</a>
      <a href="/user/login"><img src="/static/img/icon-sign-in-duotone.svg" alt="" class="nav-icon" /> Login</a>
      {{end}}
    </div>
  </nav>

  {{if .EventIsFinished}}
  <div class="container">
    <div class="cc-alert-success margin-v-m">
      🏆 {{.Event.Name}} ist vorbei. Vielen Dank fürs Mitmachen!
      <a href="/wrapped">Und wer hat das Tippspiel gewonnen</a>?
    </div>
  </div>
  {{end}}
</div>

{{end}}
