{{define "penalty_game"}}
<div class="penalty-scene">
  <div class="penalty-scene__goal">
    <img src="/static/img/goal.png" alt="Fußballtor" />
  </div>
  <div class="penalty-scene__keeper">
    <img src="/static/img/keeper.png" alt="Torwart" />
  </div>
  <div class="penalty-scene__ball-row">
    <div class="penalty-scene__ball">
      <img src="/static/img/ball.png" alt="Fußball" />
    </div>
    <span class="penalty-scene__hint">&#8592; Kick me</span>
  </div>
  <div class="penalty-scene__score">
    <div class="penalty-scene__dots"></div>
  </div>
</div>
{{end}}
