:root {
    --russian-violet: #341E57ff;
    --russian-violet-lighter: rgb(70, 25, 143);
    --baby-powder: #FAFBF9ff;
    --ash-gray: #C1D6BFff;
    --mantis: #65B152ff;
    --mantis-darker: rgb(69, 144, 50);
    --tekhelet: #5A287Eff;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.footer {
color: #333;
padding: 8px;
text-align: center;
}
.footer a {
    color: #333;
}

/* Utilities */

.margin-top-xs {
    margin-top: 2px;
}
.margin-top-s {
    margin-top: 6px;
}
.margin-top-m {
    margin-top: 12px;
}
.margin-top-l {
    margin-top: 24px;
}
.margin-top-xl {
    margin-top: 48px;
}

@media (max-width: 640px) {
    .hide-small {
        display: none !important
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .hide-medium {
        display: none !important;
    }
}

@media (min-width: 961px) {
    .hide-large {
        display: none !important;
    }
}


.container {
    max-width: 980px;
    margin: 0 auto;
}
/* add padding to container on small screens */
@media (max-width: 960px) {
    .container {
        padding: 0 24px;
    }
}
@media (max-width: 640px) {
    .container {
        padding: 0 12px;
    }
}
.w-100 {
    width: 100%;
}
.w-1-12 { width: 8.33%; }
.w-2-12 { width: 16.66%; }
.w-3-12 { width: 25%; }
.w-4-12 { width: 33.33%; }
.w-5-12 { width: 41.66%; }
.w-6-12 { width: 50%; }
.w-7-12 { width: 58.33%; }
.w-8-12 { width: 66.66%; }
.w-9-12 { width: 75%; }
.w-10-12 { width: 83.33%; }
.w-11-12 { width: 91.66%; }
.w-12-12 { width: 100%; }
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

a:not(.pure-button) {
    color: #0e76bb;
    text-decoration: none;
    /* border-bottom: 1px solid var(--mantis); */
} 
a:not(.pure-button):hover {
    color: #07436b;;
    text-decoration: underline;
    /* border-bottom: 2px solid var(--mantis); */
}

/* a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }​ */

.header-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Push items to the edges */
    margin: 12px 0;
}
.header-notice {
    color: #888;
    font-size: 14px;
}

.header-container__left {
    margin: 0; /* Remove default margin to avoid unexpected spacing */
}

.header-container__right {
    margin-left: auto; /* Push the button to the right */
}
.logo {
    font-size: 1em;
}
.logo a, .logo a:hover {
    text-decoration: none;
    color: black;
}


.cc-table {
    width: 100%; /* Make the table span 100% of the container's width */
    border-collapse: collapse; /* Collapse borders to create a single border around the table */
}

.cc-table th, .cc-table td {
    padding: 12px 15px; /* Add padding for better readability */
    border: 1px solid #ddd; /* Add a single border around each cell */
}

.cc-table thead tr, tfoot tr {
    background-color: #f2f2f2; /* Light gray background for the header */
    text-align: left; /* Align text to the left in the header */
}


 /* auto-striped */
.cc-table.cc-table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

.cc-table.cc-table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
}

.cc-table.cc-table-striped tbody tr:hover {
    background-color: #f1f1f1; /* Slightly darker gray on hover for better interactivity */
}

/* manual striped */
.cc-table tbody tr.even {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

.cc-table tbody tr.odd {
    background-color: #ffffff; /* White background for odd rows */
}

.cc-table tbody tr:hover {
    background-color: #f1f1f1; /* Slightly darker gray on hover for better interactivity */
}

.cc-table .active {
    font-weight: bold;
}

/* Media query for small viewports */
@media (max-width: 640px) {
    .cc-table {
        font-size: 12px;
    }

    .cc-table th, .cc-table td {
        padding: 8px 4px; /* Adjust padding for better readability on small screens */
    }
    .cc-table thead {
        font-size: 10px;
    }
}



.cc-alert-flash {
    background: #1f8dd6;
    border-radius: 3px;
    color: #fff;
    padding: 1em 1em;
    text-align: center;
}
.cc-alert-error {
    background: #B22222;
    border-radius: 3px;
    color: #fff;
    padding: 1em 1em;
    text-align: center;
}
.cc-alert {
    background: #f2f2f2;
    border-radius: 3px;
    color: #333;
    padding: 12px 8px;
    text-align: center;
    font-size: 14px;
    margin: 12px 0;
}


.navbar form { 
    display: inline-block;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .left, .navbar .right {
    display: flex;
    gap: 20px; /* Optional: Adjust gap between items as needed */
}

/* Media query for small viewports */
@media (max-width: 640px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start of the container */
       
    }

    .navbar .left, .navbar .right {
        flex-direction: column;
        width: 100%;
        gap: 0; /* Remove gap between items */
    }

    .navbar .left a, .navbar .right a, .navbar .right form, .navbar .right button {
        display: block; /* Ensure items take full width */
        width: 100%;
        margin: 4px 0;
        text-align: left; /* Optional: Align text to the left */
    }
}

/* Forms */
.pure-form input.error {
    border: 2px dashed #B22222;
}

.pure-form-message-inline.error, .pure-form-message.error {
    color: #B22222; 
}

.pure-form-aligned .pure-control-group label {
    width: 15em;
}
.pure-form-aligned .pure-control-group .pure-form-message-inline {
    text-align: left;
}
.pure-form-aligned .pure-control-group {
    margin-bottom: 2.5em
}
.pure-form-aligned .pure-control-group .explanation {
    color: #858585;
    font-size: 0.9em;
    text-align: center;
    width: 50%;
}
@media (max-width: 640px) {
    .pure-form-aligned .pure-control-group .explanation {
        width: 100%;
    }
    .pure-form-aligned .pure-control-group .pure-form-message-inline {
        display: block;
        width: 100%;
        text-align: center;
     }
}


/* Hero section */
.hero {
    
}
.hero__row {
    margin: 0 12px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hero__teaser, .hero__image {
    flex: 1 1 100%;
    box-sizing: border-box;
  }
  
  .hero__image img {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 960px) {
    .hero__row {
      align-items: center;
    }
    
    .hero__teaser {
      flex: 0 0 40%;
    }
  
    .hero__image {
      flex: 0 0 55%;
      margin-left: auto;
    }
  
    .hero__image img {
      width: 100%;
    }
  }
  
.hero__headline {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #151B32;
}

.hero__highlight {
    color: var(--tekhelet);
}
.pure-button-primary, a.pure-button-primary {
    background-color: var(--mantis);
}

.hero__teaser {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.hero__cta {
    margin: 48px 0;
}

/* General styles for all status links */
a.status-label {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center; /* Center the emoji */
    line-height: 1.5; /* Vertically center the emoji */
}
a.status-label:hover {
    color: transparent;
    text-decoration: none;
}

a.status-live {
    background-color: red; /* Red background color */
    color: transparent; /* Hide the text */
    position: relative; /* Position for the pseudo-element */
}

.status-live::before {
    color: white;
    content: "live";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
}


a.status-live:hover {
    background-color: darkred; /* Darker red on hover for better visual feedback */
}

/* Specific styles for each status type */
a.status-pending {
    /* background-color: grey; */
    color: transparent; /* Hide the text */
    position: relative; /* Position for the pseudo-element */
}

a.status-pending::before {
    content: "\231B"; /* Unicode for hourglass */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
}

a.status-done {
    background-color: transparent;
    color: transparent; /* Hide the text */
    position: relative; /* Position for the pseudo-element */
}

a.status-done::before {
    content: "\2714"; /* Unicode for checkmark */
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
}

a.status-future {
    background-color: transparent;
    color: transparent; /* Hide the text */
    position: relative; /* Position for the pseudo-element */
}

a.status-future::before {
    content: "\23F1"; /* Unicode for stopwatch */
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
}



.match-details {
    margin: 24px 0;
}

.match-details.match-details-top {
    margin-top: 48px;
}
.match-details__subtitle {
    font-size: 0.8em;
    color: lightslategray;
    text-transform: uppercase;
    margin: 0;
}
.match-details__result {
    font-size: 2em;
    margin: 0;
}
.muted {
    font-size: 0.8em;
    color: lightslategray;
    text-transform: uppercase;
    margin: 0;
}
.result-details {
    font-size: 0.8em;
    color: lightslategray;
    margin: 0;
}
.team-none {
    color: rgb(116, 116, 116);
}

/* Live indicator */

.live-indicator {
    display: flex;
    align-items: center;
  }
  
  .live-indicator__circle {
    background-color: #e33a00;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0;
    position: relative;
  
    &::before, &::after {
      display: block;
      width: 20px;
      height: 20px;
      background-color: #e33a00;
      content: '';
      opacity: 0.4;
      border-radius: 50%;
      
      position: absolute;
      top: -4px;
      left: -4px;
      box-shadow: 0 0 10px 0 rgba(230, 56, 0, 0.4);
    }
    
    &::before {
      animation: grow 2s infinite;
    }
  }
  
  .live-indicator__text {
    margin-left: 10px;
    color: #e33a00;
    font-weight: bold;
  }
  
  
  @keyframes grow {
    0%    { transform: scale(0); }
    60%  { transform: scale(1.5); }
    100%  { transform: scale(0); }
  }


  /* navbar for match phase selection */

  .tabs {
    margin-top: 24px;
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 0.5rem 1rem;
    background: #f1f2f2;
  }
  .tabs h2 {
    font-size: 100%
  }
  
  .tabs ul {
    display: flex;
    list-style: none; 
  }
  
  .tabs li {
    padding-left: 1rem;
    font-size: 90%;
  }
  
  .tabs .active a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  .tabs a {
    text-decoration: none;
    color: #0d47a1
  }
  
/* 
    Tabs: Small devices
  */
  @media only screen and (max-width: 640px) {
    .tabs {
      flex-direction: column;
    }
    .tabs ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    .tabs li {
      padding: 0.5rem 0;
    }
  } 


/*
Prev/next buttons for mobile view
*/

.pagination {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .pagination ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  
  .pagination li {
    text-align: center;
  }
  
  .pagination li:first-child,
  .pagination li:last-child {
    flex: 1;
  }
  
  .pagination li:nth-child(2) {
    flex: 2;
  }
  
  .pagination a, .pagination .disabled {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .pagination .disabled {
    color: #7d7d7d;
    background-color: #fff;
    border: none;
  }
  
  .pagination a:hover {
    background-color: #e0e0e0;
  }
  
  .pagination li:nth-child(2) a {
    font-weight: bold;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .pagination li:first-child a,
  .pagination li:last-child a {
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .pagination a,  .pagination .disabled {
      padding: 8px 5px;
      font-size: 14px;
    }
    
    .pagination ul {
      gap: 5px;
    }
  }


  /* wrapped page */
  .wrapped-podium {
    font-size: 20px;
    padding: 24px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 24px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, #e4e4e4, #f7f7f7);
  }
  @media (max-width: 480px) {
    .wrapped-podium {
      justify-content: space-between;
    }
  }


  .wrapped-podium-line-1 { 
    /* margin-bottom: 6px; */
  }
  .badge-place {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .badge-place-1 {
    background: linear-gradient(45deg, #FFD700, #FFA500);
    border: 2px solid #DAA520;
  }
  
  .badge-place-2 {
    background: linear-gradient(45deg, #C0C0C0, #A9A9A9);
    border: 2px solid #808080;
  }
  
  .badge-place-3 {
    background: linear-gradient(45deg, #CD7F32, #8B4513);
    border: 2px solid #A0522D;
  }


  /* confetti */

    .confetti-container {
        width: 100%;
        height: 1px;
    }
    .confetti {
        width: 15px;
        height: 15px;
        background-color: #f2d74e;
        position: absolute;
        left: 50%;
        animation: confetti 5s ease-in-out -2s infinite;
        transform-origin: left top;
    }
    .confetti:nth-child(1) {
        background-color: #f2d74e; left: 10%; animation-delay: 0;
    }
    .confetti:nth-child(2) {
        background-color: #95c3de; left: 20%; animation-delay: -5s;
    }
    .confetti:nth-child(3) {
        background-color: #ff9a91; left: 30%; animation-delay: -3s;
    }
    .confetti:nth-child(4) {
        background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
    }
    .confetti:nth-child(5) {
        background-color: #95c3de; left: 50%; animation-delay: -4s;
    }
    .confetti:nth-child(6) {
        background-color: #ff9a91; left: 60%; animation-delay: -6s;
    }
    .confetti:nth-child(7) {
        background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
    }
    .confetti:nth-child(8) {
        background-color: #95c3de; left: 80%; animation-delay: -2s;
    }
    .confetti:nth-child(9) {
        background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
    }
    .confetti:nth-child(10) {
        background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
    }

    @keyframes confetti {
        0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
        25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
        50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
        75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
        100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
    }
