.container {
    max-width: 980px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Push items to the edges */
    margin: 12px 0;
}

.header-container__left {
    margin: 0; /* Remove default margin to avoid unexpected spacing */
}

.header-container__right {
    margin-left: auto; /* Push the button to the right */
}

.cc-table {
    width: 100%; /* Make the table span 100% of the container's width */
    border-collapse: collapse; /* Collapse borders to create a single border around the table */
}

.cc-table th, .cc-table td {
    padding: 12px 15px; /* Add padding for better readability */
    border: 1px solid #ddd; /* Add a single border around each cell */
}

.cc-table thead tr {
    background-color: #f2f2f2; /* Light gray background for the header */
    text-align: left; /* Align text to the left in the header */
}

.cc-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

.cc-table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
}

.cc-table tbody tr:hover {
    background-color: #f1f1f1; /* Slightly darker gray on hover for better interactivity */
}

.cc-flash {
    background: #1f8dd6;
    border-radius: 3px;
    color: #fff;
    padding: 1em 1em;
    text-align: center;
}

.navbar form { 
    display: inline-block;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Optional: Adjust padding as needed */
}

.navbar .left, .navbar .right {
    display: flex;
    gap: 20px; /* Optional: Adjust gap between items as needed */
}

/* Media query for small viewports */
@media (max-width: 640px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start of the container */
    }

    .navbar .left, .navbar .right {
        flex-direction: column;
        width: 100%;
        gap: 0; /* Remove gap between items */
    }

    .navbar .left a, .navbar .right a, .navbar .right form, .navbar .right button {
        display: block; /* Ensure items take full width */
        width: 100%;
        margin: 4px 0;
        text-align: left; /* Optional: Align text to the left */
    }
}

/* Forms */
.pure-form input.error {
    border: 1px dashed #B22222;
    background-color: #ffd6d6;
}

.pure-form-message-inline.error, .pure-form-message.error {
    color: #B22222; 
}

.pure-form-aligned .pure-control-group label {
    width: 15em;
}
.pure-form-aligned .pure-control-group .pure-form-message-inline {
    text-align: left;
}